.key{
  overflow: auto;
  text-align: right;
  font-weight: bold;
}

.value{
  max-width: 70%;
  overflow: auto;
  overflow-wrap: break-word;
}

.holder{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1em;
}